@font-face {
	font-family : "Gilroy";
	src         : url("../fonts/GilroyLight.woff2") format('woff2');
	font-display: swap;
	font-size   : normal;
	font-weight : 400;
	line-height : normal;
}
@font-face {
	font-family : "Gilroy Bold";
	src         : url("../fonts/GilroyExtraBold.woff2") format('woff2');
	font-display: swap;
	font-size   : normal;
	font-weight : 700;
	line-height : normal;
}