.header {
	margin : 0;
	padding: 0;
	width  : 100%;
	
	@include flex(row, stretch);
}

.header__logo {
	width: 100%;
}

@media (min-width: $min-tablet) {

	.header__logo {
		width : auto;
		height: 62px;
	}
}

@media (min-width: $min-desktop) {
	
	.header {
		margin: 0 auto;
		width : $main-unit;
	}

	.header__logo {
		width : 189px;
		height: auto;
	}
}